nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

#logo {
  float: left;
  padding-bottom: 25px;
}

#logo img {
  float: left;
}

nav ul {
  float: right;
}

nav li {
  float: left;
}

.date {
  float: left;
}

.print {
  float: right;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

aside img {
  float: left;
}

aside h3 {
  padding-left: 100px;
  font-size: 1.6em;
}